# backend framework
django

# backend framework extension
djangorestframework

# backend .env file parser
django-environ

# postgres driver
psycopg2-binary

# framework toolbelt
django-debug-toolbar

# HTTP library
requests

# code autoformatter
black
